<html>
<head>
	<title>Where's Waldo?</title>
</head>
<body>
	<div id="background">
		<img src="http://www.bkom.com/medias/img/clients/waldo/Splash_01.jpg">
	</div>

	<div id="loginform">
		<center>
			<% if @error %>
			<h1 style='color:black;'>Incorrect email<br> and/or password</h1>
			<% end %>


			<div class="login">
		    	<form method='POST' action='/session/create'>
			    	<input class='inputbox' type="text" name="email" placeholder="Email" required="required" /><br>
			        <input class='inputbox' type="password" name="password" placeholder="Password" required="required" /><br>
			        <input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
			        <button type="submit" id="loginbutton">Log In</button><br><br><br>
		    	</form>
			</div>

			<form method='GET' action='/users/new'>
		  	<button id='signup'>New User?</button>			
			</form>

		</center>
	</div>
</body>
</html>