<html>
<head>
	<title></title>
</head>
<body>
	<h1>Choose a level!</h1>
	<form action="/match/new" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
		<select>
			<option value="easy">Easy</option>
			<option value="intermediate">Intermediate</option>
			<option value="difficult">Difficult</option>
		</select>
		<button>Play!</button>
	</form>
</body>
</html>