<html>
<head>
	<title></title>
</head>
<body>
	<h1>Choose a level!</h1>
	<h2>
		<ul>
			<li><a href="match/easy">Easy</a></li>
			<li><a href="match/intermediate">Intermediate</a></li>
			<li><a href="match/difficult">Difficult</a></li>
		</ul>
	</h2>
</body>
</html>