<html>
<head>
	<title></title>
</head>
<body></body>>
	<style>
		body
			{
			  padding:0px;
			  margin:0px;

			  cursor:crosshair;
			  background-color: black;
			}

		#mask
			{
			  width:100vw;
			  height:100vh;
			}
		#lamp
			{
			  position:fixed;
			  top:0px;
			  left:0px;
			  width:300px;
			  height:300px;
			  border-radius:150px;
			  border-style:solid;
			  border-color:white;
			  
			  background:inherit;
			  
			  box-shadow:1px 1px 12px white;
			  
			  background-image:url('<%=@image.img_url%>');
			  background-size: cover;
			  background-position:0% 30%;
			  background-attachment: fixed; 
			}

		#coordinates
			{
				display: none;
			}

	</style>

	<div id="lamp"></div>
	<div id="coordinates"><%=@image.xcoordinate%> <%=@image.ycoordinate%></div>

</body>
</html>