<html>
<head>
	<title></title>
</head>
<body>
	<div id="header">
		<table width=100% height=100%>
			<tr>
				<td width=20 align="right">
				</td>
				<td width=50%>
					<a href='/users/<%=@user.id%>'>Hello, <%=@user.fname%></a>

				
				</td>
				<td width=0% align="right">
					
				<form action="/session/destroy" method="POST">
			        <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
			        <input type="hidden" name="_method" value="DELETE" />
			        <button>Log Out</button>
			    </form>

				</td>
				<td width=20 align="right">
				</td>
			</tr>
		</table>
	</div>

	<div id='howItWorks'>
		<center>
			<h1>How It Works</h1>
				<p>Choose a level and click 'play'.  An image will be loaded, but you will only be able to see a small portion around your cursor, like shining a flash light into a dark room.  Once you find Waldo, click on him to reveal the entire image, signifying the end of the game! </p>
		</center>
	</div>

	<div id='chooseLevel'>
		<center>
			<h1>Choose a level!</h1>
				<form action="/match/new" method="POST">
				<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
					<select name="level">
						<option selected>Choose a Level</option>
						<option value="easy">Easy</option>
						<option value="intermediate">Intermediate</option>
						<option value="difficult">Difficult</option>
					</select>
					<button>Play!</button>
				</form>
		</center>
	</div>
</body>
</html>