<html>
<head>
	<title></title>
</head>
<body>
	Hello, <%=user.fname%>

	<form action="/session/destroy" method="POST">
        <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
        <input type="hidden" name="_method" value="DELETE" />
        <button>Log Out</button>
    </form>
</body>
</html>